@font-face {
    font-family: 'Font';
    src: url('../../fonts/Purple Smile.ttf') format('truetype');
}

h1 {
    font-family: 'Font', serif;
    font-style: italic;
    align-self: center;
    text-align: center;
    color: #ff8fd1;

}

body {
    padding-top: 50px;
    transition: background-color .3s ease, color .3s ease;
    background-color: mintcream;
    padding-bottom: 100px;

}

.grid-container {
    margin-left: 50px;
    margin-right: 50px;
    display: grid;
    grid-template-columns: 70% 30%; /* 70% for left-side, 30% for right-side */
    align-items: flex-start;
}

.header-container {
    width: 100%;
    flex: 0 0 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container h1 {
    font-size: 5rem;
    margin: 0;
    color: #ffb9e4;
}


.left-side {
    grid-column: 1 / 2; /* spans the first column */
}

.right-side {
    grid-column: 2 / 3; /* spans the second column */
}


.video {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 1em;
}

.edit_video {
    padding-top: 20px;
    width: 60%;
    float: left;
}

.wrapper-memes {
    display: flex;
    flex-direction: column;
    border: 4px solid #ffb9e4;
    border-radius: 10px; /*  rounded corners */
    padding: 50px;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    max-height: 500px;
    background-color: #fbfffd;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #ffebf7;
    -webkit-border-radius: 100px;

}

.equal-size {
    width: 150px;
    height: 150px;
}

.wrapper-video {
    padding-top: 100px;
    width: 95%;
    float: left;
    position: relative;
}

.file-select {
    margin-top: 250px;
}

.file-selected {
    display: block;
}

.file-not-selected {
    display: none;
}

.canvas-style {
    width: 100%;
    z-index: 2;
    position: absolute;
}

.video-styles {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.edit_video {
    padding-top: 20px;
}

.progress-bar-style {
    height: 10px;
    background-color: #444444;
    position: relative;
    bottom: 10px;
    left: 0;
    cursor: pointer;
}

img {
    padding: 20px;
}

/*sry das hier ist voll reingehackt weil die proper lösung sehr friemelig war vllt mach ich das noch gescheit*/
.img2 {
    padding-top: 550px;
}


/**The following are premade and i didnt modify them or use them yet*/
.toggle {
    background-color: rgb(185, 185, 185);
    color: yellow;
    height: 2em;
    width: 2em;
    text-align: center;
    line-height: 2em;
    vertical-align: middle;
    border-radius: 100em;
    font-size: x-large;
    z-index: 100;
    position: fixed;
    bottom: 1em;
    right: 1em;
    cursor: pointer;
    transition: background-color .2s ease;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.toggle:hover {
    transition: background-color .2s ease;
    background-color: rgb(146, 146, 146);
}

.playback {
    position: relative;
    height: 10px;
    background: #2f3b44;
    margin: 1rem 24px;
    border-radius: 1em;
}

.playback .seekable {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(240, 240, 240);
    cursor: pointer;
}

.playback .grabber {
    position: absolute;
    top: -4px;
    bottom: -4px;
    width: 18px;
    border-radius: 2px;
    z-index: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: transform 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playback .grabber.start {
    background: #a8d736;
}

.playback .grabber.end {
    background: #fc4242;
}

.playback .grabber:hover {
    transform: scaleY(1.4);
}

.playback .grabber svg {
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

.playback .progress {
    background: #0072cf;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    pointer-events: none;
}
