@font-face {
    font-family: 'Font';
    src: url('../../fonts/Purple Smile.ttf') format('truetype');
}

body {
    padding-top: 50px;
    transition: background-color .3s ease, color .3s ease;
    background-color: mintcream;
    padding-bottom: 100px;
}

.grid-container {
    margin-left: 50px;
    margin-right: 50px;
    display: grid;
    grid-template-columns: 70% 30%; /* 70% for left-side, 30% for right-side */
    align-items: flex-start;
}

h1 {
    font-family: 'Font', serif;
    font-style: italic;
    align-self: center;
    text-align: center;
    color: #ff8fd1;
}

input[type="file"] {
   display: none;
}

label {
    font-family: 'Font', serif;
    color: white;
    background: #ffb9e4;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 6px 8px 8px -4px lightblue;
}

label:hover {
    background: #ff68c5;
}


.timeline {
    width: 100%; /* Set the width of the element to fill its parent container */
    height: 40px; /* Set the height of the element */
    background-color: #ffc5e7; /* Set a background color for the element */
    overflow: auto; /* Set the overflow property to 'auto' to enable scrolling */
    position: relative; /* Set the position property to 'relative' */
}

.progress-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #ff97cf;
}

.layer {
    position: absolute;
    top: 0;
    width: 100px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #ccc;
    text-align: center;
}


.header-container {
    width: 100%;
    flex: 0 0 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container h1 {
    font-size: 5rem;
    margin: 0;
    color: #ffb9e4;
    animation: light-reflection 1s linear infinite;
    animation-direction: alternate;
}

@keyframes light-reflection {
    from {
        text-shadow: 0 0 0 #451eb5;
    }
    to {
        text-shadow: 3px 0 0 #6b54ad;
    }
}

.left-side {
    grid-column: 1 / 2; /* spans the first column */
}

.right-side {
    grid-column: 2 / 3; /* spans the second column */
}

.video {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 1em;
}

.edit_video {
    padding-top: 20px;
    width: 100%;
    float: left;
}

.wrapper-memes {
    display: flex;
    flex-direction: column;
    border: 4px solid #ffb9e4;
    border-radius: 10px; /*  rounded corners */
    padding: 50px;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    max-height: 500px;
    background-color: #fbfffd;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #ffebf7;
    -webkit-border-radius: 100px;
}

button {
    font-family: 'Font', serif;
    color: white;
    background: #ffb9e4;
    padding: 8px 12px;
    border-radius: 10px;
    box-shadow: 6px 8px 8px -4px lightblue;
    border-color: white;
}

button:hover {
    background: #ff68c5;
}

.equal-size {
    width: 150px;
    height: 150px;
}

.wrapper-video {
    padding-top: 100px;
    width: 95%;
    float: left;
    position: relative;
}

.file-select {
    position: absolute;
    margin-top: 50px;
}

.file-selected {
    display: block;
}

.file-not-selected {
    display: none;
}

.canvas-style {
    width: 100%;
    z-index: 2;
    position: absolute;
}

.video-styles {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.edit_video {
    padding-top: 20px;
}

.progress-bar-style {
    height: 10px;
    background-color: #ffb9e4;
    position: relative;
    bottom: 10px;
    left: 0;
    cursor: pointer;
}

img {
    padding: 20px;
}

.img2 {
    padding-top: 1500px;
}
